@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
}

td {
    padding: 3px 9px;
}

#container {
    margin-left: auto;
    margin-right: auto;
}

#cities,
#city,
#city-info {
    font-size: 1.5rem;
}

#back {
    padding-top: 40px;
}
